<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<form class="editAccount" action="/account/update" method="post">
    <p><strong>Update Account Information</strong></p>
    <label>First Name
        <input type="text" placeholder="Min of 3 characters" required name="account_firstname"  value="<%= account_firstname %>">
    </label>
    <label>Last Name
        <input type="text" placeholder="Min of 3 characters" required name="account_lastname"  value="<%= account_lastname %>">
    </label>
    <label>Email address
        <input type="email" required name="account_email"  value="<%= account_email %>">
    </label>
    <div class="accountUpdateButtonContainer">
        <button type="submit">Update Account</button>
        <input type="hidden" name="account_id"
        <% if(account_id) { %> value="<%= account_id %>"
        <% } %>>
    </div>
</form>


<form class="editPassword" action="/account/update-password" method="post">
    <p><strong>Update Account Password</strong></p>
    <label>Password
        <input type="password" required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" name="account_password">
    </label>
    <div class="passwordUpdateButtonContainer">
        <button type="submit">Update Password</button>
        <input type="hidden" name="account_id"
        <% if(account_id) { %> value="<%= account_id %>"
        <% } %>>
    </div>
    <ul>
        <li>12 characters in length, minimun</li>
        <li>Contain at least 1 capital letter</li>
        <li>Contain at least 1 number</li>
        <li>Contain at least 1 special character</li>
    </ul>
</form>
    


<!-- <script src="../../js/inv-update.js"></script> -->