<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form id="updateClass" class="updateClassificationData" action="/inv/edit-classification" method="post">
    <p>NAME MUST BE ALPHABETIC CHARACTERS ONLY</p>
    <input type="hidden" name="classification_id" value="<%= classification.classification_id %>">
    <label>Classification Name
        <input type="text" name="classification_name" required pattern="^[A-Za-z0-9]+$" value="<%= classification.classification_name %>">
    </label>
    <div class="buttonContainer">
        <button id="updateClassButton" type="submit" disabled>Update Classification</button>
    </div>
</form>

<script src="../../js/inv-update.js"></script>